<%- include('layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<section>
  <article>
      <h1><%= dogs.name %></h1>
      <img class="fotohond" src="<%= dogs.img %>" alt="">
      <p class="bio"><%= dogs.bio %></p>
  </article>  
  <%- include('partials/form.ejs'); %>  
  <article class="tweede">
      <h2>Informatie</h2>
      <ul class="info">
        <li>Leeftijd: <%= dogs.age %></li>
        <li>Ras: <%= dogs.breed %></li>
        <li>Geslacht: <%= dogs.geslacht %></li>
        <li>Prijs: € <%= dogs.price %></li>
      </ul> 
  </article>
  <article class="derde">
      <h2>Beschrijving</h2>
      <p><%= dogs.description %></p>
  </article>
</section>


<%- include('partials/footer.ejs'); %>