<%- include('layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<section>
  <article>
      <h1><%= firstUser.name %></h1>
      <img class="fotohond" src="<%= firstUser.img %>" alt="">
      <p class="bio"><%= firstUser.bio %></p>
  </article>  
  <%- include('partials/form.ejs'); %>  
  <article class="tweede">
      <h2>Informatie</h2>
      <ul class="info">
        <li>Leeftijd: <%= firstUser.age %></li>
        <li>Ras: <%= firstUser.breed %></li>
        <li>Geslacht: <%= firstUser.geslacht %></li>
        <li>Prijs: € <%= firstUser.price %></li>
      </ul> 
  </article>
  <article class="derde">
      <h2>Beschrijving</h2>
      <p><%= firstUser.description %></p>
  </article>
</section>


<%- include('partials/footer.ejs'); %>