<%- include('layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<section class="matchpagina">
    <h1>Dit zijn jouw matches</h1>

<ul id="match1">
    <% likedDogs.forEach(function(likedDogs) { %>
        <li>
            <img class="fotohond" src="<%= likedDogs.img %>" alt="">
            <h2><%= likedDogs.name %></h2>
            <p><%= likedDogs.description %></p>

        </li>
    <% }); %>    
</ul>
</section>



<script src="/static/js/script.js"></script>

